#nav_bar {
    font-size: 23px;
    
}
#nav_bar img{
    max-width: 50px;
    margin-left: 100px;
    margin-top: 50px;
    
    
}
#logo{
    justify-content: flex-start;
}

#login{
    border: solid 2px white;
    border-radius: 7mm ;
    width: 100px;
    text-align: center;
    color: white;
    width: 150px;
    
    
   
}

#itens{
  margin-left: 47%;
 
  
    

}
li{
    margin-left: 50px;
}

