.col{
    border: solid 1px black;
    width: 900px;
}
.card-body {
    max-width: 500px;
}

.card{
    background-color: transparent;
    border: transparent;
}
.form-control {
    border: transparent;
}